<!-- [ngStyle]="{background: 'url(https://image.tmdb.org/t/p/w500/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg)'}" -->

<!-- https://image.tmdb.org/t/p/w500/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg -->
<!-- <div *ngIf="film" class="film-single-wrapper" style="background-image: url('{{imgPath + film.backdrop_path}}')"></div> -->

<!-- <div [ngStyle]="{'background' :'url('+imgPath+film.poster_path+')' }"></div> -->
<!-- [ngStyle]="{'background' :'url('+imgPath+film.poster_path+')' }" -->
<div class="single-cmp">
	<div *ngIf="film" class="film-single-wrapper">
		<!-- <img src="{{imgPath + film.backdrop_path}}" class="bg-image"> -->
		<div class="film-single-left">
			<img src="{{imgPath + film.poster_path}}" class="img-rounded">
		</div>
		<div class="film-single-right">
			<h2>{{film?.title}}</h2>
			<h4>{{film?.tagline}}</h4>
			<h4>{{film?.overview}}</h4>
			<h4>Бюджет: {{film?.budget}}</h4>
			<h4>Дата выхода: {{film?.release_date}}</h4>

			<h4>Жанры:
				<h6 *ngFor="let genre of genres">{{genre.name}}</h6>
			</h4>
		</div>
	</div>
	<div class="back-btn">
		<button class="single-btn" mat-raised-button color="primary" (click)="goBack()">назад</button>
	</div>
</div>

<!--
	/*adult:false
backdrop_path:"/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg"
belongs_to_collection:{id: 86311, name: "Мстители (Коллекция)", poster_path: "/qJawKUQcIBha507UahUlX0keOT7.jpg", backdrop_path: "/zuW6fOiusv4X9nnW3paHGfXcSll.jpg"}
budget:300000000
genres:(4) [{…}, {…}, {…}, {…}]
homepage:"http://marvel.com/movies/movie/223/avengers_infinity_war_part_1"
id:299536
imdb_id:"tt4154756"
original_language:"en"
original_title:"Avengers: Infinity War"
overview:"Пока Мстители и их союзники продолжают защищать мир от различных опасностей, с которыми не смог бы справиться один супергерой, новая угроза возникает из космоса: Танос. Межгалактический тиран преследует цель собрать все шесть Камней Бесконечности — артефакты невероятной силы, с помощью которых можно менять реальность по своему желанию. Всё, с чем Мстители сталкивались ранее, вело к этому моменту — судьба Земли никогда ещё не была столь неопределённой."
popularity:366.765
poster_path:"/qIUFg6tzKeK5bUDguonWCAFceNB.jpg"
production_companies:[{…}]
production_countries:[{…}]
release_date:"2018-04-25"
revenue:2045186856
runtime:149
spoken_languages:[{…}]
status:"Released"
tagline:"Целая вселенная. Раз и навсегда"
title:"Мстители: Война бесконечности"
video:false
vote_average:8.3
vote_count:6921 */
-->