.example-icon {
    padding: 0 5px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

.header-links{
	max-width: 50%;
}

.header-actions{
	text-align: right;
	max-width: 50%;
}

.flex-spacer{
	flex: 1 1 auto;
}

.header-img{
	height:50px;
	width:auto;
	
}